/** @format */

.footer {
  width: 100%;
  background-color: black;
  padding: 50px;
  color: white;
}
.text-sub {
  color: gray;
}
a {
  text-decoration: none;
}
a:link {
  color: gray;
}
.detail {
  padding-bottom: 30px;
  color: rgb(197, 194, 194);
}
.detail:hover {
  color: white;
}
a:visited {
  color: gray;
}
.avatar {
  border-radius: 50%;
}

a:hover {
  color: white;
}

a:active {
  color: gray;
}
