/** @format */
#TPO {
  background-color: black;
  width: 100%;
}
.Text {
  color: white;
}
.profiletpo {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 70px;
  max-width: 18rem;
}
.body-text {
  color: rgb(165, 161, 161);
  font-size: large;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
}
.profile-div {
  align-items: center;
  padding: auto;
  margin: auto;
}
.credit {
  padding-bottom: 10px;
  text-align: center;
  color: rgb(233, 227, 227);
}
@media only screen and (max-width: 500px) {
  .body-text {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.body-text-sub {
  color: gray;
  font-size: large;
  text-align: justify;
  padding: 5px;
  padding-bottom: 20px;
}
.icon {
  color: #2bbbad;
}
.sub-heading {
  color: white;
}
.high {
  color: #2bbbad;
}
