/** @format */

.footer {
  width: 100%;
  background-color: black;
  padding: 50px;
  color: white;
}
.text-sub {
  color: gray;
}
a {
  text-decoration: none !important;
}
a:link {
  color: gray;
}
.detail {
  padding-bottom: 30px;
  color: rgb(197, 194, 194);
  padding: 10px;
  border-radius: 3px;
}
.detail:hover {
  color: white;
  background-color: rgb(43, 42, 42);
  box-shadow: cornsilk;
}
.link {
  text-decoration: none !important;
}
a:visited {
  color: gray;
}
.avatar {
  border-radius: 50%;
}

a:hover {
  color: white;
}

a:active {
  color: gray;
}
.icon {
  padding: 5px;
}
.white {
  color: white !important;
}
